.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    transition: 0.5s;
}
.logo {
    width: 100%;
}
.logo h3 {
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.47em;
    color: #8596AD;
    display: inline-block;
}
.icon-account {
    margin-right: 20px;
}
.off_menu_show .icon-account {
    z-index: 2;
}
.off_menu_show .icon-menu {
    z-index: 2;
}
.off_menu {
    position: absolute;
    background-color: #fff;
    height: 100%;
    max-width: 300px;
    right: 0;
    top: 0;
    transition: 0.5s;
    width: 100%;
    overflow-x: hidden;
    box-shadow: -1px 0 22px rgba(0,0,0,0.05);
    opacity: 0;
    z-index: -1;
}
.off_menu_hide .off_menu {
    opacity: 0;
    z-index: -1;
}
.off_menu_show .off_menu {
    opacity: 1;
    z-index: 1;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.sign_block {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    top:50%;
    left: 50%;
    z-index: 9999;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
    transition: 0.5s;
}